<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>ServletLoginCustomer</servlet-name>
        <servlet-class>com.ServletLoginCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLoginCustomer</servlet-name>
        <url-pattern>/Customer/ServletLoginCustomer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletSignupCustomer</servlet-name>
        <servlet-class>com.ServletSignupCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSignupCustomer</servlet-name>
        <url-pattern>/Customer/ServletSignupCustomer</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>ServletLoginAdmin</servlet-name>
    <servlet-class>com.ServletLoginAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLoginAdmin</servlet-name>
        <url-pattern>/Admin/ServletLoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletSignupAdmin</servlet-name>
        <servlet-class>com.ServletSignupAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSignupAdmin</servlet-name>
        <url-pattern>/Admin/ServletSignupAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletForget</servlet-name>
        <servlet-class>com.ServletForget</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletForget</servlet-name>
        <url-pattern>/Forget_Password/ServletForget</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletReset</servlet-name>
        <servlet-class>com.ServletReset</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletReset</servlet-name>
        <url-pattern>/Forget_Password/ServletReset</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAddUser</servlet-name>
        <servlet-class>com.ServletAddUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAddUser</servlet-name>
        <url-pattern>/Admin/ServletAddUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAddStaff</servlet-name>
        <servlet-class>com.ServletAddStaff</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAddStaff</servlet-name>
        <url-pattern>/Admin/ServletAddStaff</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAddType</servlet-name>
        <servlet-class>com.ServletAddType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAddType</servlet-name>
        <url-pattern>/Admin/ServletAddType</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAddProduct</servlet-name>
        <servlet-class>com.ServletAddProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAddProduct</servlet-name>
        <url-pattern>/Admin/ServletAddProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletEditUser</servlet-name>
        <servlet-class>com.ServletEditUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEditUser</servlet-name>
        <url-pattern>/Admin/ServletEditUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletEditProduct</servlet-name>
        <servlet-class>com.ServletEditProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEditProduct</servlet-name>
        <url-pattern>/Admin/ServletEditProduct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletQueryOrder</servlet-name>
        <servlet-class>com.ServletQueryOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletQueryOrder</servlet-name>
        <url-pattern>/Admin/ServletQueryOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletQueryProduct</servlet-name>
        <servlet-class>com.ServletQueryProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletQueryProduct</servlet-name>
        <url-pattern>/Admin/ServletQueryProduct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletQueryCustomer</servlet-name>
        <servlet-class>com.ServletQueryCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletQueryCustomer</servlet-name>
        <url-pattern>/Admin/ServletQueryCustomer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletQueryAdmin</servlet-name>
        <servlet-class>com.ServletQueryAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletQueryAdmin</servlet-name>
        <url-pattern>/Admin/ServletQueryAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletEditAccount</servlet-name>
        <servlet-class>com.ServletEditAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEditAccount</servlet-name>
        <url-pattern>/Customer/ServletEditAccount</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletRevisePwd</servlet-name>
        <servlet-class>com.ServletRevisePwd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRevisePwd</servlet-name>
        <url-pattern>/Admin/ServletRevisePwd</url-pattern>
    </servlet-mapping>

</web-app>